@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 9rem; */
}
body {
  font-family: "Rubik Mono One", "QuickSand", sans-serif;
  min-height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
.login-box h2 {
  margin: 0 0 20px;
  font-weight: lighter;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  background: #f0f2f5;
  border: none;
  outline: none;
  border-radius: 5px;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
  font-weight: lighter;
  font-family: "QuickSand";
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -15px;
  left: 10px;
  color: black;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  background: #f97300;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #636161;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 400px) {
  .login-box {
    width: 90%;
  }
}
